CONTROL_LISTEN={{ service.listen }}
CONTROL_PORT={{ service.port }}
CONTROL_TOKEN={{ service.token }}
BOT_URL=https://{{ bot.domain }}
BOT_TOKEN={{ bot.token }}
LLDAP_HTTP_URL=http://{{ lldap.domain }}:{{ lldap.http_port }}
LLDAP_LDAP_URL=ldap://{{ lldap.domain }}:{{ lldap.ldap_port }}
LLDAP_BASE_DN={{ lldap.users_dn }}
LLDAP_USERNAME={{ lldap.admin_username }}
LLDAP_PASSWORD={{ lldap.admin_password }}
