---
services:
  thelounge_telegram_accounts:
    image: "{{ thelounge_telegram_accounts_image }}"
    volumes:
      - ./data:/app/data:rw
      - /var/run/docker.sock:/var/run/docker.sock:rw
    env_file:
      - ./bot.env
{% if thelounge_telegram_accounts.user is defined %}
    user: "{{ thelounge_telegram_accounts.user }}"
{% endif %}
{% if thelounge_telegram_accounts.group_add is defined %}
    group_add:
      - {{ thelounge_telegram_accounts.group_add }}
{% endif %}
    healthcheck:
      test: ["CMD", "curl", "-sf", "http://localhost:8080"]
      interval: 30s
      timeout: 5s
      retries: 3
    restart: always
...
