---
services:
  ngircd:
    image: "{{ ngircd_image }}"
    container_name: ngircd
    environment:
      - PUID=1000
      - PGID=1000
    volumes:
      - ./config:/config:rw
      - ./certs:/certs:ro
    ports:
      - "{{ ngircd_port }}:{{ ngircd_port }}"
      - "{{ ngircd_tls_port }}:{{ ngircd_tls_port }}"
    networks:
      irc-net:
        aliases:
          - "{{ irc_domain }}"
    healthcheck:
      test: ["CMD-SHELL", "grep -q ':{{ "%04X" | format(ngircd_port | int) }} ' /proc/net/tcp && grep -q ':{{ "%04X" | format(ngircd_tls_port | int) }} ' /proc/net/tcp"]
      interval: 30s
      timeout: 2s
      retries: 3
      start_period: 10s
    restart: always
networks:
  irc-net:
    name: irc-net
...
