---
services:
  ngircd:
    image: "{{ ngircd_image }}"
    container_name: ngircd
    environment:
      - PUID=0
      - PGID=0
    volumes:
      - type: bind
        source: ./config
        target: /config
      - type: bind
        source: "{{ ngircd_cert_dir }}"
        target: "{{ ngircd_cert_dir }}"
    ports:
      - "6667:6667"
      - "6697:6697"
    healthcheck:
      test: ["CMD-SHELL", "grep -q ':1A0B ' /proc/net/tcp && grep -q ':1A29 ' /proc/net/tcp"]
      interval: 30s
      timeout: 2s
      retries: 3
      start_period: 10s
    restart: always
...
