BOT_LISTEN={{ service.listen }}
BOT_PORT={{ service.port }}
BOT_TOKEN={{ service.token }}
BOT_SESSION={{ service.session_dir }}/session
CONTROL_URL=https://{{ control.domain }}
CONTROL_TOKEN={{ control.token }}
TELEGRAM_API_ID={{ service.telegram_api_id }}
TELEGRAM_API_HASH={{ service.telegram_api_hash }}
TELEGRAM_TOKEN={{ service.telegram_token }}
