#!/bin/sh

cp /etc/letsencrypt/live/{{ service.domain }}/fullchain.pem {{ ansible_facts['user_dir'] }}/{{ service.name }}/certs/fullchain.pem
cp /etc/letsencrypt/live/{{ service.domain }}/privkey.pem {{ ansible_facts['user_dir'] }}/{{ service.name }}/certs/privkey.pem
chown {{ ansible_user }} {{ ansible_facts['user_dir'] }}/{{ service.name }}/certs/fullchain.pem
chown {{ ansible_user }} {{ ansible_facts['user_dir'] }}/{{ service.name }}/certs/privkey.pem
