#!/bin/sh

cp /etc/letsencrypt/live/{{ service_domain }}/fullchain.pem {{ ansible_facts['user_dir'] }}/{{ service_name }}/certs/fullchain.pem
cp /etc/letsencrypt/live/{{ service_domain }}/privkey.pem {{ ansible_facts['user_dir'] }}/{{ service_name }}/certs/privkey.pem
chown {{ ansible_user }} {{ ansible_facts['user_dir'] }}/{{ service_name }}/certs/fullchain.pem
chown {{ ansible_user }} {{ ansible_facts['user_dir'] }}/{{ service_name }}/certs/privkey.pem