---
services:
  "{{ service.name }}":
    image: "{{ images.transmission }}"
    container_name: "{{ service.name }}"
    volumes:
      - "./config:/config:rw"
      - "{{ sftpgo.name }}-data:/downloads"

    user: "{{ docker_run_as.user }}"
    group_add:
      - "{{ docker_run_as.group }}"

    ports:
{% if service.rpc_port is defined %}
      - "{{ service.rpc_port }}:{{ service.rpc_port }}"
{% endif %}
{% if service.peer_port is defined %}
      - "{{ service.peer_port }}:{{ service.peer_port }}"
      - "{{ service.peer_port }}:{{ service.peer_port }}/udp"
{% endif %}

    entrypoint: 
      - /usr/bin/transmission-daemon
      - -g
      - /config
      - -f

    cap_drop:
      - ALL
    cap_add:
      - CHOWN
      - FOWNER
      - SETUID
      - SETGID
      - DAC_OVERRIDE
    security_opt:
      - no-new-privileges

    healthcheck:
      test: ["CMD-SHELL", "grep -q ':{{ "%04X" | format(service.rpc_port | int) }} ' /proc/net/tcp"]
      interval: 30s
      timeout: 2s
      retries: 3
      start_period: 10s

    restart: always

volumes:
  "{{ sftpgo.name }}-data":
    name: "{{ sftpgo.name }}_{{ sftpgo.name }}-data"
    external: true
...
