---
services:
  "{{ service.name }}":
    image: "{{ images.thelounge }}"
    container_name: "{{ service.name }}"
    environment:
      - "PUID={{ docker_run_as.user }}"
      - "PGID={{ docker_run_as.group }}"

    volumes:
      - "./config:/config:rw"
      - "./thelounge_logo.svg:/app/thelounge/public/img/logo-horizontal-transparent-bg-inverted.svg:ro"
      - "./thelounge_logo.svg:/app/thelounge/public/img/logo-horizontal-transparent-bg.svg:ro"
      - "./thelounge_logo.svg:/app/thelounge/public/img/logo-transparent-bg-inverted.svg:ro"
      - "./thelounge_logo.svg:/app/thelounge/public/img/logo-transparent-bg.svg:ro"
      - "./thelounge_logo.svg:/app/thelounge/public/img/logo-vertical-transparent-bg-inverted.svg:ro"
      - "./thelounge_logo.svg:/app/thelounge/public/img/logo-vertical-transparent-bg.svg:ro"

    ports:
      - "{{ service.port }}:{{ service.port }}"

    networks:
      - "{{ lldap.name }}-net"
      - "{{ ngircd.name }}-net"

    cap_drop:
      - ALL
    cap_add:
      - CHOWN
      - FOWNER
      - SETUID
      - SETGID
      - DAC_OVERRIDE
    security_opt:
      - no-new-privileges

    healthcheck:
      test: ["CMD-SHELL", "grep -q ':{{ "%04X" | format(service.port | int) }} ' /proc/net/tcp"]
      interval: 30s
      timeout: 2s
      retries: 3
      start_period: 10s

    restart: always

networks:
  "{{ lldap.name }}-net":
    external: true
  "{{ ngircd.name }}-net":
    external: true
...
