TELEGRAM_API_ID={{ tta_telegram_bot_api_id }}
TELEGRAM_API_HASH={{ tta_telegram_bot_api_hash }}
TELEGRAM_TOKEN={{ tta_telegram_bot_telegram_token }}
BOT_LISTEN={{ tta_telegram_bot_listen }}
BOT_PORT={{ tta_telegram_bot_port }}
BOT_TOKEN={{ bot_token }}
BOT_SESSION={{ tta_telegram_bot_session }}
CONTROL_URL=https://{{ control_domain }}
CONTROL_TOKEN={{ control_token }}