#!/bin/sh

cp /etc/letsencrypt/live/{{ irc_domain }}/fullchain.pem {{ ansible_facts['user_dir'] }}/thelounge/certs/fullchain.pem
cp /etc/letsencrypt/live/{{ irc_domain }}/privkey.pem {{ ansible_facts['user_dir'] }}/thelounge/certs/privkey.pem
chown {{ ansible_user }} {{ ansible_facts['user_dir'] }}/thelounge/certs/fullchain.pem
chown {{ ansible_user }} {{ ansible_facts['user_dir'] }}/thelounge/certs/privkey.pem

if systemctl cat thelounge.service >/dev/null 2>&1
then
    systemctl restart thelounge.service
fi