CONTROL_LISTEN={{ tta_control_listen }}
CONTROL_PORT={{ tta_control_port }}
CONTROL_USERS_DB={{ tta_control_users_db }}
CONTROL_TOKEN={{ tta_control_token }}
BOT_URL=https://{{ tta_bot_domain }}
BOT_TOKEN={{ tta_bot_token }}
IRC_NAME={{ tta_irc_name }}
IRC_HOST={{ irc_domain }}
IRC_PORT={{ ngircd_tls_port }}
IRC_PASSWORD={{ tta_irc_password }}
THELOUNGE_USERS_DIR={{ tta_thelounge_users_dir }}
SFTPGO_ADMIN={{ tta_sftpgo_admin }}
SFTPGO_DATA_DIR={{ sftpgo_data_dir }}
SFTPGO_BACKUP_DIR={{ tta_sftpgo_backup_dir }}
