CONTROL_LISTEN={{ tta_control_listen }}
CONTROL_PORT={{ tta_control_port }}
CONTROL_USERS_DB={{ tta_control_users_db }}
CONTROL_TOKEN={{ control_token }}
BOT_URL=https://{{ bot_domain }}
BOT_TOKEN={{ bot_token }}
IRC_NAME={{ irc_domain }}
IRC_HOST={{ irc_domain }}
IRC_PORT={{ ngircd_tls_port }}
IRC_PASSWORD={{ irc_network_password }}
IRC_USER_DIR={{ tta_control_irc_user_dir }}
FILES_ADMIN={{ files_admin }}
FILES_USER_DIR={{ tta_control_files_user_dir }}