[Unit]
Description=filebrowser-mnt
Requires=docker.service
After=docker.service

[Service]
Type=simple
WorkingDirectory={{ ansible_facts['user_dir'] }}/filebrowser
ExecStart={{ docker_cli }} compose -f compose-mnt.yaml up
ExecStop={{ docker_cli }} compose -f compose-mnt.yaml down
Restart=always