---
services:
  "{{ service.name }}":
    image: "{{ images.sftpgo }}"
    container_name: "{{ service.name }}"
    user: "{{ docker_run_as.user }}"
    group_add:
      - "{{ docker_run_as.group }}"

    volumes:
      - "./config:/var/lib/sftpgo:rw"
      - "{{ service.name }}-data:{{ service.data_dir }}"

    environment:
      - "SFTPGO_DEFAULT_ADMIN_USERNAME={{ service.admin_username }}"
      - "SFTPGO_DEFAULT_ADMIN_PASSWORD={{ service.admin_password }}"

    ports:
{% if service.http_port is defined %}
      - "{{ service.http_port }}:{{ service.http_port }}"
{% endif %}
{% if service.sftp_port is defined %}
      - "{{ service.sftp_port }}:{{ service.sftp_port }}"
{% endif %}
{% if service.webdav_port is defined %}
      - "{{ service.webdav_port }}:{{ service.webdav_port }}"
{% endif %}
{% if service.api_port is defined %}
      - "{{ service.api_port }}:{{ service.api_port }}"
{% endif %}

    networks:
      - "{{ lldap.name }}-net"

    cap_drop:
      - ALL
    security_opt:
      - no-new-privileges

    healthcheck:
      test: ["CMD-SHELL", "sftpgo ping"]
      interval: 30s
      timeout: 2s
      retries: 3
      start_period: 10s

    restart: always

volumes:
  "{{ service.name }}-data":
    driver: local
    driver_opts:
      type: "tmpfs"
      device: "tmpfs"
      o: "size={{ service.volume_size }},uid={{ docker_run_as.user }},gid={{ docker_run_as.group }},mode=0750"

networks:
  "{{ lldap.name }}-net":
    external: true
...
